.greca_img{
    max-height:80vh !important;
  }
  .greca_left{
    position: absolute;
  }

  .informe_logo{
    z-index: 3;
    position: relative;
    min-height: 10rem;
  }

  .bg_photo_libertad{
    background: url(../../assets/images/foto_libertdad.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-height: 80vh;
  }  
  
.arrow_right{
    position: absolute;
    right: 10%;
    top: 50%;
  }
  .greca_right{
    position: absolute;
    right: 0;
    top: 0;
  }
  .pleca_descarga{
    height: 1px;
    background-color: var(--white-color);
    content: '';
    width: 50%;
  }
  .link_descarga{
    border-left: 1px solid var(--white-color);
    padding-left: 8px;
  }
  
.descarga_bloc{
    background-color: var(--graydark-color);
    min-height: 7rem;
    z-index: 3;
    position: relative;
  }
  .descarga_bloc h4{
    color: var(--pinklight-color);
    letter-spacing: .07rem;
    line-height: 1.4rem;
  }
  
.logo_container{
    max-height: 80vh;
    position: absolute;
  }
  