@media (max-width: 1200px) {
  
}

@media (max-width: 991.98px) {
    .navbar-nav{
        flex-direction: column !important  ;
    }

    .pleca_footer{
        width: 5%;
    }
}

@media (max-width: 767.98px) {
    .pleca_footer{
        width: 40%;
    }

    .numeralia_container:nth-child(3n) .number_text{
      border-left: none;
    }

    .greca_profile_container{
      height: 19rem;
    }
    
    .greca_profile_img{
      height: 13rem;
    }
}

@media (max-width: 575px) {

  .btn_busqueda_datos{
    padding: 5px;
  }  

    .informe_logo{
        width: 60%;
    }

    .first_container,.logo_container,.bg_photo_libertad,.grecas_container,.greca_img{
        max-height: 80vh;
    }

    .informe_logo{
        background-color: white;
        padding: 17px;
    }

    .play_collapse h4{
        font-size: 1rem;
    }

    .chapter_one{
        height: 18rem;
      }
      
      .title_one{
        top: 4rem;
      }
      
      .chapter_two{
        height: 18rem;
      }
      
      .chapter_three{
        height: 18rem;
      }
      
      .title_three{
        top: 4rem;
      }
      
      .chapter_four{
        height: 18rem;
      }
      
      .title_four{
        top: 4rem;
      }
      
      .chapter_five{
        height: 18rem;
      }
      
      .title_five{
        top: 4rem;
      }
      
      .chapter_six{
        height: 18rem;
      }
      
      .title_six{
        top: 4rem;
      }
      
      .chapter_seven{
        height: 18rem;
      }
      
      .chapter_eight{
        height: 18rem;
      }

      .whats_unete{
        height: 5rem;
        position: relative;
        top: 10px;
        left: 5%;
        margin: auto;
      }

      .number_text{
        border-bottom: 2px solid #8B2787ed;
        border-left: none;
        padding: 5px 0;
        width: 70%;
      }

      .picture_container{
        height: 8rem;
      }

      .greca_profile_container{
        height: 16rem;
      }
      
      .greca_profile_img{
        height: 11rem;
      }
}

@media (max-width: 300px) {
    .informe_logo{
        width: 80%;
    }

    .informe_logo{
        padding: 5px;
    }
}