
/* Fuentes */

@font-face {
    font-family: 'Raleway Regular';
    font-style: normal;
    src: local("Raleway Regular"), url("../fonts/raleway/Raleway-Regular.ttf");
}

@font-face {
  font-family: 'Raleway Medium Italic';
  font-style: normal;
  src: local("Raleway Medium Italic"), url("../fonts/raleway/Raleway-MediumItalic.ttf");
}

@font-face {
  font-family: 'Raleway Bold';
  font-style: normal;
  src: local("Raleway Bold"), url("../fonts/raleway/Raleway-Bold.ttf");
}

@font-face {
  font-family: 'Raleway Black';
  font-style: normal;
  src: local("Raleway Black"), url("../fonts/raleway/Raleway-Black.ttf");
}

@font-face {
  font-family: 'Montserrat Regular';
  font-style: normal;
  src: local("Montserrat Regular"), url("../fonts/montserrat/Montserrat-Regular.ttf");
}

@font-face {
  font-family: 'Montserrat Semibold';
  font-style: normal;
  src: local("Montserrat Semibold"), url("../fonts/montserrat/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: 'Montserrat Bold';
  font-style: normal;
  src: local("Montserrat Bold"), url("../fonts/montserrat/Montserrat-Bold.ttf");
}

/*Estilos generales*/
* {
    -webkit-transition: all .3s linear !important;
    -moz-transition: all .3s linear !important;
    -ms-transition: all .3s linear !important;
    -o-transition: all .3s linear !important;
    transition: all .3s linear !important;
}

:root{
  --black-color:#252726;
  --graydark-color:#313332;
  --white-color:#ffffff;
  --purple-color:#8B2787;
  --lightpurple-color:#837ECF;
  --lightblue-color:#D1E5F2;
  --pinklight-color:#FFE8FF;
}

a,p{
  font-family: 'Raleway Regular';
  text-decoration: none;
}

h1,h2,h3{
  font-family: 'Raleway Black';
}

h4,h5,h6{
  font-family: 'Montserrat Semibold';
}

body{
  background-color: #313332;
}

.title_section{
 min-height: 7.5rem;
 display: flex;
 justify-content: center;
 align-self: center;
 align-items: center;
 text-transform: uppercase;
}

footer, header{
  position: relative;
  z-index: 3;
}

/* Menu */

.menu_container{
  background-color: var(--graydark-color);
  min-height:90px;
}

.logo_tepjf{
  height:30px;
}

.navigation_main li a{
  color: var(--white-color);
}

.navigation_main li a:hover{
  color: var(--lightpurple-color);
}

.navbar-nav{
  flex-direction: row !important  ;
}

/* Footer */

.footer_first{
  background-color: var(--graydark-color);
  min-height: 200px;
}

.footer_second{
  background-color: var(--black-color);
  min-height: 40px;
}

.p_footer_second{
  font-family: 'Montserrat Regular';
  font-size: .9rem;
}

.footer_text h1{
  font-size: 1.3rem;
  margin-bottom: 0;
}

.footer_text h4{
  font-size: 1rem;
  margin-bottom: 0;
}

.footer_text p{
  font-size: .9rem;
  margin-bottom: 0;
}

.pleca_footer{
  height: 2px;
  background-color: var(--white-color);
  content: '';
  width: 25%;
}

.icon_foot{
  height: 30px;
}

/* Contenedor principal */

.principal_container{
  min-height: 90vh;
  background-color: var(--white-color);
}

/* HOME --------------------> */
/* Home - primera sección */

.first_container{
  height: 80vh;
  position: relative;
}

.border_left{
  height: 100%;
  position: absolute;
  left: 0;
}

.informe_logo{
  z-index: 3;
  position: relative;
}

.logo_container{
  max-height: 80vh;
  position: absolute;
}

.greca_left{
  position: absolute;
}
.greca_right{
  position: absolute;
  right: 0;
  top: 0;
}
.bg_photo_libertad{
  background: url(../images/foto_libertdad.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-height: 80vh;
}

.informe_logo{
  min-height: 10rem;
}

.grecas_container{
  max-height: 80vh;
  position: absolute;
}

.greca_img{
  max-height:80vh;
}

.arrow_right{
  position: absolute;
  right: 10%;
  top: 50%;
}

.descarga_bloc{
  background-color: var(--graydark-color);
  min-height: 7rem;
  z-index: 3;
  position: relative;
}

.descarga_bloc h4{
  color: var(--lightblue-color);
  letter-spacing: .07rem;
  line-height: 1.4rem;
}

.pleca_descarga{
  height: 1px;
  background-color: var(--white-color);
  content: '';
  width: 50%;
}

.arrow_down{
  height: 1.5rem;
}

.link_descarga{
  border-left: 1px solid var(--white-color);
  padding-left: 8px;
}

.play_collapse{
  background-color: var(--pinklight-color);
  min-height: 8rem;
}

.play_zone{
  background-color: var(--graydark-color);
  min-height: 8rem;
  color: var(--white-color);
  line-height: 1.2rem;
}

.play_pink{
  min-height: 4.5rem;
}

.collapse_play_btn{
  width: 100%;
  height: 100%;
}

.btn:focus {
  outline: 0 !important;
  box-shadow: 0 0 0 0.25rem rgba(13, 109, 253, 0) !important;
}

/* magistradas y magistrados */

.container_profile{
  position: relative;
  height: 8rem;
  width: 8rem;
}

.image_profile{
  border-radius: 50%;
  display: block;
  width: 100%;
  height: auto;
}

.profile_container a{
  color: var(--graydark-color);
}

.overlay_profile{
  position: absolute;
  background-color: rgba(24, 24, 24, 0.699);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 50%;
  opacity: 0;
}

.overlay_profile:hover{
  opacity: 1;
}

.overlay_profile h5{
  color: var(--white-color);
  font-size: .8rem;
}

.profile_name{
  font-family: 'Raleway Bold';
  font-size: 1.1rem;
}

.container_datos_abiertos{
  min-height: 100vh;
  position: relative;
}


.grecas_bottom{
  opacity: .4;
  min-height: 13rem;
  width: 100%;
  content: '';
  background: url(../images/greca_alfa_dos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:top;
  position: absolute;
  bottom: 0;
  }

  .resultados_datos_abiertos{
    position: relative;
    z-index: 2;
    padding-bottom: 15rem;
  }
  
/* video embeds */
.video_container {
  position: relative;
  height: 0px;
  width: 100%;   
  padding-bottom: 56.25%;
}

.video_full {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

/* capitulos */
.row_capitulos_section{
  background-color: var(--graydark-color);
}

.paragraph_content{
  text-align: justify;
}

.container_grecas{
  position: absolute;
  bottom: 0;
  left: 0;
  min-height: 100vh;
}
.grecas_bottom_main{
  opacity: .4;
  height: 100vh;
  width: 100%;
  content: '';
  background: url(../images/grecas_alfa.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:top;
  position: absolute;
  bottom: 0;
  }
.container_grecas_dos{
  position: absolute;
  bottom: -30vh;
  left: 0;
  min-height: 100vh;
}

.capitulos_container{
  position: relative;
  padding-bottom: 4rem;
  z-index: 1;
}

.capitulos_grid{
  position: relative;
}

.capitulo_title{
  text-transform: uppercase;
  color: var(--white-color);
  font-size: 1.6rem;
}

.chapter_btn:hover{
  filter: brightness(1.2);
  transform: scale(1.01);
}


.title_one{
  background: rgb(128,64,128);
  background: linear-gradient(326deg, rgba(128,64,128,1) 0%, rgba(74,47,104,1) 48%);
  border-radius: 1rem;
  position: relative;
  top: 4rem;
}

/* .chapter_two{
  background: url(../images/capitulo_dos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  height: 22rem;
}

.chapter_three{
  background: url(../images/capitulo_tres.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  height: 20rem;
} */

.title_three{
  background: rgb(128,125,148);
  background: linear-gradient(86deg, rgba(128,125,148,1) 0%, rgba(42,36,92,1) 48%);
  border-radius: 1rem;
  position: relative;
  top: 4rem;
}

/* .chapter_four{
  background: url(../images/capitulo_cuatro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  height: 26rem;
} */

.title_four{
  background: rgb(149,151,239);
  background: linear-gradient(86deg, rgba(149,151,239,1) 0%, rgba(67,38,96,1) 48%);
  border-radius: 1rem;
  position: relative;
  top: 3rem;
}

/* .chapter_five{
  background: url(../images/capitulo_cinco.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  height: 26rem;
} */

.title_five{
  background: rgb(149,151,239);
  background: linear-gradient(266deg, rgba(149,151,239,1) 0%, rgba(67,38,96,1) 63%);
  border-radius: 1rem;
  position: relative;
  top: 7rem;
}

/* .chapter_six{
  background: url(../images/capitulo_seis.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  height: 20rem;
} */

.title_six{
  background: rgb(128,125,148);
  background: linear-gradient(86deg, rgba(128,125,148,1) 0%, rgba(42,36,92,1) 48%);
  border-radius: 1rem;
  position: relative;
  top: 20rem;
}
/* 
.chapter_seven{
  background: url(../images/capitulo_siete.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  height: 21rem;
}

.chapter_eight{
  background: url(../images/capitulo_ocho.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  height: 26rem;
} */

.title_eight{
  background: rgb(128,64,128);
  background: linear-gradient(326deg, rgba(128,64,128,1) 0%, rgba(74,47,104,1) 48%);
  border-radius: 1rem;
  position: relative;
  top: 4rem;
}

/* unete */

.unete_container{
  background-color: var(--graydark-color);
  background: url(../images/back_whats.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 35vh;
  position: relative;
}

.whats_unete{
  height: 70%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: -2rem;
}

.tableta_img{
  height: 80%;
  position: relative;
}

.unete_text{
  color: var(--white-color);
}

.unete_title{
  text-transform: uppercase;
}

.unete_text p{
  line-height: 1.2rem;
}

.unete_text p.italic_text{
  font-family: 'Raleway Medium Italic';
  line-height: 1.2rem;
}

/* videoteca */

.fotodiv{
  height: 13rem;
  position: relative;
}

.foto_general{  
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 30%;
}

.foto_uno{
  background: url(../images/foto_uno.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.foto_dos{
  background: url(../images/foto_dos.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.foto_tres{
  background: url(../images/foto_tres.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.foto_cuatro{
  background: url(../images/foto_cuatro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.foto_cinco{
  background: url(../images/foto_cinco.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.foto_seis{
  background: url(../images/foto_seis.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.foto_siete{
  background: url(../images/foto_siete.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.foto_ocho{
  background: url(../images/foto_ocho.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.link_foto{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color:#313332a4;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

.fotodiv:hover .link_foto{
  opacity: 1;
}

/* CAPITULOS-------------------> */

/* numeralia */
.numeralia_container:first-child .number_text{
  border-left: none;
}

.number_text{
  border-left: 2px solid #8B2787ed;
  padding: 5px 0;
}

.number_text h2{
  font-size: 3rem;
  text-transform: uppercase;
}

.number_text h6{
  color: #8B2787;
  text-transform: uppercase;
  font-size: .8rem;
}

.carousel_pictures{
  min-height: 21rem;
}

.picture_container{
  height: 21rem;
  background-color: #606060;
  border-radius: 20px;
}

.carousel_picture_items{
  width: 80%;
}

/* MAGISTRADOS BIOGRAFIAS ----------------------> */
/* biografias */
.greca_profile_container{
  height: 23rem;
  position: relative;
}

.greca_profile_img{
  position: absolute;
  height: 18rem;
  width: 100%;
}

.greca_img_profile{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.photo_profile_xl{
  position: absolute;
  height: 100%;
  border-radius: 50%;
  border: 1rem solid white;
  left: 0;
  right: 0;
  margin: auto;
  animation: flipInY;
  animation-delay: 1s;
}

.title_profile h1{
  color: var(--graydark-color);
  font-family: 'Raleway Bold';
}

.title_profile span{
  color: var(--graydark-color);
  font-family: 'Raleway Regular';
}

/* DATOS ABIERTOS ----------------------> */
.btn_datos_abiertos{
  background-color: var(--graydark-color);
  color: var(--white-color);
}

.btn_datos_abiertos:hover{
  background-color: var(--purple-color);
  color: var(--white-color)
}

.btn_busqueda_datos{
  padding: 10px;
  color: var(--graydark-color);
}

.btn_busqueda_datos:hover{
  color: var(--purple-color);
}

.btn_busqueda_datos p{
  font-family: 'Montserrat Semibold';
}

.btn_busqueda_datos img{
  height: 2rem;
}

.btn_busqueda_datos:hover img{
  margin-left: 5px;
}
.cursor_hand{
  cursor:pointer;
}
/*capitulos*/
.chapter_one{
  background: rgb(81,46,108);
  background: linear-gradient(90deg, rgba(81,46,108,1) 0%, rgba(168,57,168,1) 100%);
  border-radius: 5rem;
  min-height: 19rem;
  position: relative;
}
.videoteca_container{
  position: relative;
}


.chapter_one:hover .btn_icon_captiulos{
  transform: scale(1.1);
}
.btn_icon_captiulos{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: 65%;
  opacity: .3;
}

.chapter_one:hover .capitulo_title{
  text-shadow: 3px 3px 5px rgb(37, 5, 33);
}
.chapter_three{
  background: rgb(125,120,141);
  background: linear-gradient(90deg, rgba(125,120,141,0.95) 0%, rgba(46,37,96,0.95) 100%);
  border-radius: 20px;
  height: 20rem;
  }
  
  .chapter_four{
   background: rgb(72,36,100);
   background: linear-gradient(90deg, rgba(72,36,100,.95) 0%, rgba(78,52,120,.95) 100%);
   border-radius: 20px;
   height: 26rem;
  }
  
  .chapter_five{
   background: rgb(72,36,100);
   background: linear-gradient(90deg, rgba(72,36,100,.95) 0%, rgba(78,52,120,.95) 100%);
   border-radius: 20px;
   height: 26rem;
  }
  .chapter_six{

    background: rgb(125,120,141);
  
    background: linear-gradient(90deg, rgba(125,120,141,0.95) 0%, rgba(46,37,96,0.95) 100%);
  
    border-radius: 20px;
  
    height: 20rem;
  
  }

.title_six{
   background: rgb(128,125,148);
   background: linear-gradient(86deg, rgba(128,125,148,1) 0%, rgba(42,36,92,1) 48%);
   border-radius: 1rem;
   position: relative;
   top: 5rem;
  }
  
  
  .chapter_eight{
   background: rgb(80,45,107);
   background: linear-gradient(90deg, rgba(80,45,107,.95) 0%, rgba(136,58,131,.95) 100%);
   border-radius: 20px;
   height: 26rem;
  }
  
/* Capitulos interiores */

.title_main_capitulos{
  font-size: 3rem;
  text-transform: uppercase;
}

.title_text_capitulos{
  font-size: 3rem;
  text-transform: uppercase;
  border-bottom: 4px solid var(--black-color);
}

.subtitle_capitulos{
  font-size: 2.2rem;
  text-transform: uppercase;
}

.btn_descarga_informe{
  font-family: 'Raleway Bold';
  font-size: 1.2rem;
  border: 2px solid var(--black-color);
  border-radius: 5px;
  background-color: var(--white-color);
}

.btn_descarga_informe:hover{
  background-color:var(--pinklight-color);
  padding: 1px 15px;
}

.text_capitulos_content{
  text-align: justify;
}
.descarga_bloc h4{
  color: var(--pinklight-color);
  letter-spacing: .07rem;
  line-height: 1.4rem;
}
.play_zone h4{
  color: var(--pinklight-color);
}


/* marco de video */ 
.video_container {
  position: relative;
  height: 100%;
  width: 97%;   
  padding-bottom: 56.25%;
  z-index: 1;
}

.video_full {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}
.marco__back_video{
  background-color: var(--graydark-color);
  background: url(../images/back_video.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 40vh;
  position: relative;
  padding: 1.5%;
}

/* marco de video */ 