@media (max-width: 1200px) {
  
}

@media (max-width: 991.98px) {

    
}

@media (max-width: 767.98px) {
  
    .contenedor_principal{
        margin-top: 158px;
    }

}

@media (max-width: 575px) {

    .contenedor_principal{
        margin-top: 158px;
    }

}


@media (max-width: 300px) {
  .contenedor_principal{
    margin-top: 148px;
}
}