
/* Fuentes */

@font-face {
    font-family: 'Myriad Pro Regular';
    font-style: normal;
    font-weight: normal;
    src: local("Myriad Pro Regular"), url("../fonts/myriad/MYRIADPRO-REGULAR.woff") format("woff"); 
}
@font-face {
    font-family: 'Myriad Pro Light';
    font-style: normal;
    font-weight: normal;
    src: local("Myriad Pro Light"), url("../fonts/myriad/MYRIADPRO-LIGHT.woff") format("woff"); 
}
@font-face {
    font-family: 'Myriad Pro Semibold';
    font-style: normal;
    font-weight: normal;
    src: local("Myriad Pro Semibold"), url("../fonts/myriad/MYRIADPRO-SEMIBOLD.woff") format("woff"); 
}
@font-face {
    font-family: 'Myriad Pro Bold';
    font-style: normal;
    font-weight: normal;
    src: local("Myriad Pro Bold"), url("../fonts/myriad/MYRIADPRO-BOLD.woff") format("woff"); 
}

@font-face {
  font-family: 'Mulish Black';
  font-style: normal;
  src: local("Mulish Black"), url("../fonts/mulish/MULISH-BLACK.TTF") format("woff"); 
}

body, h1, h2, h3, h4, h5, h6, p, button, .btn {
    font-family: "Myriad Pro Regular" !important ;
    font-weight: normal ;
}

/*Estilos generales*/
* {
    -webkit-transition: all .3s linear !important;
    -moz-transition: all .3s linear !important;
    -ms-transition: all .3s linear !important;
    -o-transition: all .3s linear !important;
    transition: all .3s linear !important;
}

a{
    color: #24135F ;
    text-decoration: none ;
}

a:hover {
    color: #24135F;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #24135F;
}

.back_white{
    background-color: white;
}

.text_white{
  color: white;
}

.back_blue{
  background-color: #24135F;
}

.text_blue{
  color: #24135F;
}

/* Navegador */

.szh-menu-container {
  position: relative;
  width: 0px;
  height: 0px;
}

.szh-menu {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  width: max-content;
  position: absolute;
  z-index: 100;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #fff;
}
.szh-menu:focus {
  outline: none;
}
.szh-menu--state-closed {
  display: none !important;
}
.szh-menu__arrow {
  box-sizing: border-box;
  width: 0.75rem;
  height: 0.75rem;
  background-color: #fff;
  border: 1px solid transparent;
  border-left-color: rgba(0, 0, 0, 0.1);
  border-top-color: rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: -1;
}
.szh-menu__arrow--dir-left {
  right: -0.375rem;
  transform: translateY(-50%) rotate(135deg);
}
.szh-menu__arrow--dir-right {
  left: -0.375rem;
  transform: translateY(-50%) rotate(-45deg);
}
.szh-menu__arrow--dir-top {
  bottom: -0.375rem;
  transform: translateX(-50%) rotate(-135deg);
}
.szh-menu__arrow--dir-bottom {
  top: -0.375rem;
  transform: translateX(-50%) rotate(45deg);
}
.szh-menu__item {
  cursor: pointer;
}
.szh-menu__item:focus {
  outline: none;
}
.szh-menu__item--hover {
  background-color: #ebebeb;
}
.szh-menu__item--focusable {
  cursor: default;
  background-color: inherit;
}
.szh-menu__item--disabled {
  cursor: default;
  color: #aaa;
}
.szh-menu__submenu {
  position: relative;
}
.szh-menu__group {
  box-sizing: border-box;
}
.szh-menu__radio-group {
  margin: 0;
  padding: 0;
  list-style: none;
}
.szh-menu__divider {
  height: 1px;
  margin: 0.5rem 0;
  background-color: rgba(0, 0, 0, 0.12);
}

.szh-menu-button {
  box-sizing: border-box;
}

.szh-menu {
  user-select: none;
  color: #212529;
  border: none;
  border-radius: 0.25rem;
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.133), 0 0.6px 2px rgba(0, 0, 0, 0.1);
  min-width: 10rem;
  padding: 0.5rem 0;
}
.szh-menu__item {
  display: flex;
  align-items: center;
  position: relative;
  padding: 0.375rem 1.5rem;
}
.szh-menu-container--itemTransition .szh-menu__item {
  transition-property: background-color, color;
  transition-duration: 0.15s;
  transition-timing-function: ease-in-out;
}
.szh-menu__item--type-radio {
  padding-left: 2.2rem;
}
.szh-menu__item--type-radio::before {
  content: "○";
  position: absolute;
  left: 0.8rem;
  top: 0.55rem;
  font-size: 0.8rem;
}
.szh-menu__item--type-radio.szh-menu__item--checked::before {
  content: "●";
}
.szh-menu__item--type-checkbox {
  padding-left: 2.2rem;
}
.szh-menu__item--type-checkbox::before {
  position: absolute;
  left: 0.8rem;
}
.szh-menu__item--type-checkbox.szh-menu__item--checked::before {
  content: "✔";
}
.szh-menu__submenu > .szh-menu__item {
  padding-right: 2.5rem;
}
.szh-menu__submenu > .szh-menu__item::after {
  content: "❯";
  position: absolute;
  right: 1rem;
}
.szh-menu__header {
  color: #888;
  font-size: 0.8rem;
  padding: 0.2rem 1.5rem;
  text-transform: uppercase;
}

/*Contenedor Principal*/
.contenedor_principal{
    min-height: calc(80vh - 130px);
    margin-top: 154px;
}

/* Header */
.header_nav{
    width: 100% ;
    left: 0 ;
    top: 0 ;
    position: fixed ;
    padding: 0 ;
    background-color: rgb(255, 255, 255) ;
    z-index: 10000 ;
    -webkit-transition: all .3s linear !important;
    -moz-transition: all .3s linear !important;
    -ms-transition: all .3s linear !important;
    -o-transition: all .3s linear !important;
    transition: all .3s linear !important;
}

#logoHeader{
    max-height: 100px;
    max-width: 100%;
    padding: 10px;
    left: 0;
    -webkit-transition: all 1s linear !important;
    -moz-transition: all 1s linear !important;
    -ms-transition: all 1s linear !important;
    -o-transition: all 1s linear !important;
    transition: all 1s linear !important;
}

.logoHeaderAccesibilidad{
    width: 90px;
    padding: 10px;
}

.reducido {
    max-width: 220px !important;
    max-height: 80px;
    white-space: 100%;
    left: 0;
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important;
    -webkit-transition: all 1s linear !important;
    -moz-transition: all 1s linear !important;
    -ms-transition: all 1s linear !important;
    -o-transition: all 1s linear !important;
    transition: all 1s linear !important;
}

/* Footer */
footer{
    background-color: #ececec;
    color: #666666 !important;
    font-size: .9rem ;
}

footer p {
    margin-bottom: 1px;
}

footer a {
    color: #666666 !important;
}

footer a:hover {
    color: #666666 !important;
    text-decoration: underline ;
}

.icon_media_footer{
    height: 4em;
}

.logosHeader{
  visibility: visible;-webkit-animation-duration: 600ms; -moz-animation-duration: 600ms; animation-duration: 600ms;-webkit-animation-delay: 0s; -moz-animation-delay: 0s; animation-delay: 0s;
}

